body {
    font-family: 'Oswald', sans-serif;
    margin: 0 auto;
    width: 100%;
}
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:     100%;
}
html,
body {
    margin:0;
    padding:0;
    height:100%;
    font-size: 85%;
}
/*// Large devices (desktops, 62em and up)*/
@media (min-width: 62em) { 
    html,
    body {
        font-size: 95%;
    }
}
/*// Extra large devices (large desktops, 75em and up)*/
@media (min-width: 75em) { 
    html,
    body {
        font-size: 100%;
    }
}

p{
    text-align: center;
}

h1{
    font-size: 3em;
    line-height: 12px;
    font-weight:normal;
}
h2{
    text-align: center;
    margin: 0 10px 30px;

}
h4{
    font-size:12px;
    text-align: center;
}
body {

}
img{
    width: 100%;
    height: auto;
}
a:hover {
    color: #4fc9de;
    text-decoration: none;
}

#wrapper{
    min-height: 100%;
    position: relative;
}

#header {
    padding:10px;
}

.navbar-default{
    background-color:#fff;
}

#n-primary {
    list-style-type: none;
    margin-left: 4%;
    padding: 0.25em;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 15px;
}
#n-primary a:hover {
    color: #4fc9de;
}

#n-primary a.active {
    color: #4fc9de;
    cursor: default;
}

/*// Small devices (landscape phones, 374px and up)*/
@media (min-width: 34em) {
    #n-primary {
        margin-left: 5%;
        position: relative;
        display: inline;
        padding: 0;
        overflow: hidden;
    }
}
/*// Medium devices (Tablets, 767px and up)*/
@media screen and (min-width: 48em){
    li a{
        margin: 0;
    }
}

#content {
    padding-bottom:60px;   /* Height of the footer */
    margin-top: 30px;
}
#s-tag{
    font-size: 2.5em;
    text-align: center;
}
#s-tag span {
    display: inline-block;
    width: 300px;
    margin-top:20px;
    margin-left: 0px;
    margin-bottom: 20px;
    margin-right:0;
    overflow: hidden;
}

.carousel{
    border-bottom: 4px solid #0e0342;
}

.carousel-caption h1, .carousel-caption h3{
    font-family: 'Open Sans', sans-serif;
}
.carousel-caption h1{
    z-index: 20;
    color: #0086ff;
    text-shadow: 3px 3px 4px rgba(28,8,8,1);
    -webkit-background-clip: text;
    position: relative;
    margin-right: 2%;
}
.carousel-indicators{
    width: 15%;
    margin-left: -2%;
}
.carousel .item{
    background: rgba(0,0,0,.5);
    opacity: 0.5;
    filter: alpha(opacity=50);
}
@media screen and (max-width: 34em){
    .carousel-caption h1{
        font-size: 2em;
        line-height: 25px;
        margin-bottom: -15px;
    }
     .carousel-caption h3{
        font-size: 1.5em;
        margin-bottom: -5px;
        margin-top: 0;
    }
}
/*// Medium devices (Tablets, 767px and up)*/
@media screen and (min-width: 48em){
    .carousel .item{
        max-height: 300px;
    }
}

#slider p{
    padding: 20px 10px 0;
}
#slider img{
    border-radius: 2px;
}

.read{
    padding: 0 !important;
    margin: 0 !important;
}
.col-md-4{
    margin-bottom: 25px;
    border-bottom: #0e0342 2px solid;
}

/*// Large devices (desktops, 62em and up)*/
@media (min-width: 62em) { 
    .read{
        color: #333;
    }
    .col-md-4{
        margin-bottom: 25px;
        border-bottom: none;
    }
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color: #333333;
    color: #FFF;
    display: inline-block;
}

#footer p{
    text-align: left;
    margin: 15px;
}
/*// Extra small devices (portrait phones, less than 34em)*/
/*// No media query since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 34em and up)*/
@media (min-width: 34em) {

}

/*// Medium devices (tablets, 48em and up)*/
@media (min-width: 48em) { 
    .foot_col1{
        margin-left: 0;
    }
    .foot_col2{
        float: right;
        width: 40%;
        margin: 0;
    }
}

/*// Large devices (desktops, 62em and up)*/
@media (min-width: 62em) { 
}

/*// Extra large devices (large desktops, 75em and up)*/
@media (min-width: 75em) { 
}